@use '../abstract/variaveis'; // Importa o módulo de variáveis
@use '../abstract/mixins'; // Importa o módulo de mixins

/* Estilos para dispositivos de tela com largura menor ou igual a 990 pixels (tablet) */
@media screen and (max-width: 990px) {
   
   header{
    
    #home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;

    .textos-home {
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;

        h1 {
            font-size: 2rem !important;
            padding: 0 5%;
            text-align: center;
            width: auto;
            height: auto;
            
        }

        .btn-main {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    }
}}
    

    #nosso-espaco {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .detalhes {
            display: flex;
            flex-direction: column;

            &:nth-child(2) {
                flex-direction: column-reverse; // Inverte a direção dos detalhes para o segundo filho de .detalhes
            }

            .imgs-espaco {
                display: inline-flex;

                .img-espaco,
                .img-espaco1 {
                    width: 100%;
                }

                .img-espaco1 {
                    display: inline-flex;
                    max-width: 50%;
                    margin: 0 auto;
                }
            }
        }
    }

    #servico {
        .cards {
            display: flex;
            flex-direction: column;
            gap: 1.8rem;
        }
    }

    #desconto {
        @include mixins.margem-central(80%); // Aplica uma margem central com 80% da largura ao elemento com id "desconto"
        display: block;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;

        .input-btn {
            $largura-input: 80%; // Declara uma variável para a largura do input
            width: $largura-input;
            height: 55px;
        }

        img {
            display: none; // Esconde as imagens dentro do elemento com id "desconto"
        }
    }

    #contatos {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        max-width: 100%;

        .contatos-imgs {
            max-width: 100%;

            img {
                &:nth-child(n + 2) {
                    display: flex; // Exibe apenas a partir do segundo filho de img dentro de .contatos-imgs
                    max-width: 46%; // Define a largura máxima para as imagens
                }
            }
        }

        .contatos-form {
            max-width: 100%; // Define a largura máxima para o formulário de contatos
        }
    }
}
